:root {
    --primary-color: #3498db; /* blue */
    --secondary-color: #f1c40f; /* yellow */
    --background-color: #f9f9f9; /* light gray */
    --text-color: #333; /* dark gray */
}

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
font-family: Arial, sans-serif;
line-height: 1.6;
color: var(--text-color);
background-color: var(--background-color);
max-width: 1200px; /* limit page width _/
margin: 0 auto; /_ center page */
}


.header-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* divide the grid into two columns, with the second column taking up more space */
  align-items: center; /* vertically center the grid items */
  padding: 20px;
  background-color: var(--primary-color);
  color: #fff;
}

.header-container img {
  grid-column: 1; /* place the logo in the first column */
  width: 100px;
}

.header-container nav {
  grid-column: 2; /* place the navigation bar in the second column */
  text-align: right;
}

.header-container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.header-container nav ul li {
  margin-right: 20px;
}

.header-container nav a {
  color: #fff;
  text-decoration: none;
}
