:root {
    --primary-color: #3498db; /* blue */
    --secondary-color: #f1c40f; /* yellow */
    --background-color: #f9f9f9; /* light gray */
    --text-color: #333; /* dark gray */
}

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
font-family: Arial, sans-serif;
line-height: 1.6;
color: var(--text-color);
background-color: var(--background-color);
max-width: 1200px; /* limit page width _/
margin: 0 auto; /_ center page */
}

/* Header styles */
.header-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: var(--primary-color);
color: #fff;
}

.header-container img {
width: 100px;
}

.header-container nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.header-container nav ul li {
margin-right: 20px;
}

.header-container nav a {
color: #fff;
text-decoration: none;
}

/* Hero container styles _/
.hero {
display: flex;
flex-direction: column;
align-items: center;
padding: 150px 20px;
background-image: url('../images/image1.png');
background-size: cover;
background-position: center;
color: #fff;
max-width: 1000px; /_ added max-width _/
margin: 0 auto; /_ added margin _/
height: 600px; /_ added height */
}

.hero h1 {
font-size: 60px;
margin-bottom: 20px;
align-self: flex-start; /* added align-self */
}

.hero-content {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}

.hero-text {
width: 70%;
}

.hero-image {
width: 30%;
}

/* Main content styles */
main {
display: grid;
grid-template-columns: 1fr;
grid-gap: 20px;
padding: 20px;
}

.content-grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
}

article {
background-color: #f7f7f7;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
border-radius: 10px;
}

article img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 10px 10px 0 0;
}

article p {
padding: 20px;
}

/* History section styles _/
.history {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
margin-top: 40px; /_ added margin-top */
}

.history-content {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}

.history-text-left {
width: 30%;
}

.history-image {
width: 40%;
}

.history-text-right {
width: 30%;
}

.history {
grid-column: 1 / 3;
}

/* Gallery section styles */
.gallery {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 10px;
}

.gallery img {
width: 100%;
height: 150px;
object-fit: cover;
border-radius: 10px;
}

/* Footer styles */
footer {
background-color: var(--primary-color);
color: #fff;
padding: 20px;
text-align: center;
}

footer .social-links {
margin-top: 20px;
text-align: right;
}

footer .social-links ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: flex-end;
}

footer .social-links li {
margin-right: 10px;
}

footer .social-links img {
width: 15px;
height: 15px;
}


